.approach {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    position: relative;
    width: 100%;

    @include mq-until(768) {
      background-color: $color-red;
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    background-color: $color-red;
    box-sizing: border-box;
    margin-bottom: -200px;
    max-width: 895px;
    padding: 244px 106px 200px 344px;
    position: relative;
    top: -200px;
    width: 100%;

    @include mq-between(992, 1200) {
      margin-bottom: -100px;
      padding: 200px 100px 200px 200px;
      top: -100px;
    }

    @include mq-between(768, 992) {
      margin-bottom: -50px;
      max-width: 600px;
      padding: 130px 40px 124px 59px;
      top: -50px;
      width: 100%;
    }

    @include mq-until(768) {
      margin-top: 309px;
      padding: 0 24px 96px;
    }
  }

  &__heading {
    z-index: 1;

    @include mq-between(768, 992) {
      max-width: 350px;
      width: 100%;
    }
  }

  &__title {
    @include font($Commissioner, 800, 56, 1.14);

    color: $color-black;
    margin: 0;
    padding: 200px 0 0 165px;
    width: 100%;

    @include mq-between(992, 1200) {
      font-size: rem-calc(48);
      padding-top: 230px;
    }

    @include mq-between(768, 992) {
      font-size: rem-calc(32);
      max-width: 300px;
      padding: 230px 58px 39px;
      width: 100%;
    }

    @include mq-until(768) {
      color: $color-white;
      font-size: rem-calc(32);
      max-width: 270px;
      padding: 96px 24px 0;
      width: 100%;
    }
  }

  &__steps {
    margin: 0 0 100px;

    &:last-child {
      margin: 0;
    }
  }

  &__step-title {
    @include font($Commissioner, 800, 20, 1.6);

    color: $color-white;
    margin: 0 0 24px;
    position: relative;
    text-transform: capitalize;

    @include mq-between(768, 992) {
      font-size: rem-calc(16);
    }
  }

  &__number {
    @include font($Commissioner, 800, 80, 1.1);

    left: -55px;
    opacity: 0.25;
    position: absolute;
    top: -45px;

    @include mq-between(768, 992) {
      left: 0;
      top: -42px;
    }

    @include mq-until(768) {
      left: 0;
    }
  }

  &__step-text {
    @include font($Commissioner, 400, 18, 1.78);

    color: $color-white;
    margin: 0;
    max-width: 440px;
    width: 100%;

    @include mq-between(768, 992) {
      font-size: rem-calc(16);
    }
  }
}
