.hamburger {
  $this: &;

  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 50px;
  z-index: 2;

  @include mq-from(768) {
    display: none;
  }

  @include mq-until(768) {
    margin-right: 24px;
  }

  &--opened {
    #{$this}__line1 {
      stroke-dasharray: 70 157;
      stroke-dashoffset: -134;
      stroke-width: 3;
    }

    #{$this}__line2 {
      stroke-dasharray: 1 50;
      stroke-dashoffset: -30;
      stroke-width: 3;
    }

    #{$this}__line3 {
      stroke-dasharray: 70 157;
      stroke-dashoffset: -134;
      stroke-width: 3;
    }
  }

  &__icon {
    height: 100%;
    padding: 0;
    width: 100%;
  }

  &__line {
    fill: none;
    stroke: $color-dark-grey;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__line1 {
    stroke-dasharray: 50 167;
    stroke-width: 3;

    &--opened {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 3;
    }
  }

  &__line2 {
    stroke-dasharray: 50 50;
    stroke-width: 3;

    &--opened {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 3;
    }
  }

  &__line3 {
    stroke-dasharray: 50 167;
    stroke-width: 3;

    &--opened {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 3;
    }
  }
}
