.header {
  display: flex;
  height: 178px;
  justify-content: center;
  position: relative;

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
  }

  &__logo-img {
    margin-left: 165px;
  }
}
