.hero {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    height: 800px;
    max-width: 1440px;
    position: relative;
    width: 100%;

    @include mq-between(768, 1100) {
      height: 606px;
    }

    @include mq-until(768) {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    box-sizing: border-box;
    left: 0;
    padding-top: 112px;
    position: absolute;
    top: 0;
    z-index: 3;

    @include mq-between(768, 1100) {
      padding-top: 77px;
    }

    @include mq-until(768) {
      background-color: $color-white;
      padding: 0 24px;
      position: relative;
    }
  }

  &__title {
    @include font($Commissioner, 800, 80, 1.1);

    color: $color-text;
    margin: 0 0 39px 165px;
    width: 600px;

    @include mq-between(768, 1100) {
      font-size: rem-calc(56);
      line-height: 1;
      margin: 0 0 19px 39px;
      width: 400px;
    }

    @include mq-until(768) {
      font-size: rem-calc(40);
      line-height: 1;
      margin: 0;
      max-width: 327px;
      padding: 56px 0 15px 0;
      width: 100%;
    }
  }

  &__text {
    @include font($Commissioner, 400, 18, 1.78);

    color: $color-text;
    margin: 0 0 0 165px;
    max-width: 550px;
    width: 100%;

    @include mq-between(768, 1100) {
      font-size: rem-calc(15);
      line-height: 1.67;
      margin: 0 0 0 39px;
      width: 400px;
    }

    @include mq-until(768) {
      margin: 0;
    }
  }

  &__button {
    @include button($color-white, $color-red);

    height: 72px;
    margin: 48px 0 0 165px;
    width: 177px;

    @include mq-between(768, 1100) {
      margin: 32px 0 0 39px;
    }

    @include mq-until(768) {
      margin: 40px 0 96px 0;
    }

    &:hover {
      background-color: $color-light-red;
    }
  }

  &__background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    @include mq-between(768, 1100) {
      left: 70px;
    }

    @include mq-until(768) {
      order: -1;
      position: relative;
    }
  }

  &__image {
    display: block;
    margin-left: auto;

    @include mq-between(768, 1100) {
      height: 606px;
      right: 50px;
    }

    @include mq-until(768) {
      margin: 0;
      max-width: 770px;
      width: 100%;
    }
  }
}
