.navigation {
  align-items: center;
  background-color: $color-red;
  display: flex;
  flex-direction: row;
  height: inherit;
  list-style: none;
  margin: 0;
  max-width: 705px;
  padding: 0;
  width: 100%;

  @include mq-between(768, 1100) {
    max-width: 500px;
    width: 100%;
  }

  @include mq-until(768) {
    background-color: $color-white;
    justify-content: flex-end;
    max-width: 100px;
    width: 100%;
  }

  &__list {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0 0 0 69px;
    padding: 0;
    position: relative;
    width: inherit;

    @include mq-between(768, 1100) {
      margin: 0 0 0 33px;
    }

    @include mq-until(768) {
      display: none;
    }
  }

  &__link {
    @include font($Commissioner, 400, 16, 1.5);

    color: $color-white;
    margin-right: 32px;
    padding: 10px 4px;
    position: relative;
    text-decoration: none;

    @include mq-between(768, 1100) {
      margin-right: 20px;
    }

    &:hover {
      font-weight: 600;
    }

    &::before,
    &:visited::before,
    &::after,
    &:visited::after {
      background-color: $color-white;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
      width: 100%;
    }

    &:hover::before,
    &:active::before,
    &:hover::after,
    &:active::after {
      transform: scaleX(1);
    }

    &:hover::before,
    &:visited::before {
      top: 0;
      transform-origin: left;
    }

    &:hover::after,
    &:visited::after {
      bottom: 0;
      transform-origin: right;
    }
  }

  &__button {
    @include button($color-white, $color-dark-grey);

    cursor: pointer;
    margin-left: 15px;
    padding: 0;

    @include mq-between(768, 1100) {
      height: 64px;
      margin: 0;
      width: 147px;
    }

    &:hover {
      filter: brightness(120%);
    }
  }
}
