.strategic {
  display: flex;
  justify-content: center;
  position: relative;

  &__wrapper {
    display: flex;
    max-width: 1440px;
    position: relative;
    width: 100%;

    @include mq-until(768) {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    background-color: $color-black;
    box-sizing: border-box;
    max-width: 705px;
    padding: 200px 0 0 154px;
    position: relative;
    width: 100%;

    @include mq-between(1200, 1400) {
      padding: 150px 0 0 40px;
    }

    @include mq-between(992, 1200) {
      padding: 120px 0 0 69px;
    }

    @include mq-between(768, 992) {
      padding: 50px 0 0 40px;
    }

    @include mq-until(768) {
      padding: 0 24px 72px;
      width: 100%;
    }
  }

  &__title {
    @include font($Commissioner, 800, 55, 1.14);

    color: $color-white;
    margin: 0 0 43px;
    padding-right: 200px;

    @include mq-until(992) {
      font-size: 30px;
      margin: 0;
      max-width: 350px;
      padding: 72px 0 24px;
      width: 100%;
    }

    &--first {
      color: $color-red;
    }
  }

  &__text {
    @include font($Commissioner, 400, 18, 1.78);

    color: $color-white;
    margin: 0 30px 48px 0;
    max-width: 445px;
    width: 100%;

    @include mq-between(992, 1200) {
      max-width: 400px;
      padding-right: 30px;
      width: 100%;
    }

    @include mq-until(992) {
      font-size: 15px;
      margin: 0;
      margin-bottom: 32px;
    }
  }

  &__image {
    @include mq-between(1200, 1400) {
      width: 700px;
    }

    @include mq-between(992, 1200) {
      width: 500px;
    }

    @include mq-between(768, 992) {
      width: 400px;
    }

    @include mq-until(768) {
      height: auto;
      max-width: 800px;
      width: 100%;
    }
  }

  &__button {
    @include button($color-red, $color-black);

    font-size: 18px;
    font-size: 800;
    text-align: left;

    &--text {
      border-bottom: 2px solid $color-red;
      padding-bottom: 8px;

      &:hover {
        border-bottom: 2px solid $color-light-red;
        color: $color-light-red;
      }
    }
  }
}
