@charset "utf-8";

@import 'base/colors';
@import 'base/custom-fonts';
@import 'base/typography-mixin';
@import 'base/button';
@import 'base/media-queries';
@import 'modules/header';
@import 'modules/navigation';
@import 'modules/hamburger';
@import 'modules/hero';
@import 'modules/strategic';
@import 'modules/approach';
@import 'modules/slider';
@import 'modules/footer';
@import 'vendors/normalize';

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}
