@charset "utf-8";

@import 'base/colors';
@import 'base/custom-fonts';
@import 'base/typography-mixin';
@import 'base/button';
@import 'modules/header';
@import 'modules/navigation';

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}
